<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Categorias:</h2>
    <hr>
    <a class="btn btn-primary" href="/admin/categories/new">nova categoria</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Opções</th>
            </tr>
        </thead>

        <tbody>
        <% categories.forEach(category => { %> 
            <tr>
                <th><%=category.id%></th>
                <th><%=category.title%></th>
                <th><%=category.slug%></th>
                <th>
                    <a class="btn btn-light" href="/admin/categories/edit/<%=category.id%>">editar</a>

                    <form method="POST" action="/categories/delete" style="display: inline;"
                    onsubmit="confirmDeleteAction(event, this)">
                        <input type="hidden" name="id" value="<%=category.id%>">
                        <button class="btn btn-dark">excluir</button>
                    </form>
                </th>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>

<script>
    //previnindo deletar sem querer
    function confirmDeleteAction(event, form){
        event.preventDefault();  
        const decision = confirm("deseja realmente excluir esse item?");
        
        if(decision){
            form.submit();
        }else{
            console.log("envio cancelado!");
        }
    }
</script>